# Rust
.cache/
/target/
**/*.rs.bk

# IDEs/editors
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Python tooling (docs)
.venv/
__pycache__/
*.pyc

# Static site output
/site/

# Local overrides
.env

# artifacts
*.dwarfs
*.patch
*.tar.gz
*.tar.xz
*.zip
